Операции над множествами

Основные операции над множествами:

объединение множеств;
пересечение множеств;
разность множеств;
симметрическая разность множеств.
Для каждой операции есть метод и оператор.

Объединение множеств: метод union()

Объединение множеств – это множество, состоящее из элементов, принадлежащих хотя бы одному из объединяемых множеств. Для этой операции существует метод union().

In [1]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset3 = myset1.union(myset2)
print(myset3)

{1, 2, 3, 4, 5, 6, 7, 8}

Обратите внимание, метод union() возвращает новое множество в которое входят все элементы множеств myset1 и myset2. Для изменения текущего множества используется метод update().

Для объединения двух множеств можно также использовать оператор |

In [2]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset3 = myset1 | myset2
print(myset3)

{1, 2, 3, 4, 5, 6, 7, 8}

Пересечение множеств: метод intersection()

Пересечение множеств – это множество, состоящее из элементов, принадлежащих одновременно каждому из пересекающихся множеств. Для этой операции существует метод intersection().

In [3]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset3 = myset1.intersection(myset2)
print(myset3)

{3, 4}

Обратите внимание, метод intersection() возвращает новое множество в которое входят общие элементы множеств myset1 и myset2. Для изменения текущего множества используется метод intersection_update()

Для пересечения двух множеств можно также использовать оператор &.

In [ ]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset3 = myset1 & myset2
print(myset3)

Разность множеств: метод difference()

Разность множеств – это множество, в которое входят все элементы первого множества, не входящие во второе множество. Для этой операции существует метод difference().

In [4]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset3 = myset1.difference(myset2)
print(myset3)

{1, 2, 5}

Для разности двух множеств можно также использовать оператор -.

In [5]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset3 = myset1 - myset2
print(myset3)

{1, 2, 5}

Обратите внимание: для операции разности множеств важен порядок, в котором указаны множества. Если поменять местами myset1 и myset2, нас ожидает совсем другой результат: элементы, входящие в множество myset2 и которых нет в множестве myset1.

In [6]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset3 = myset2.difference(myset1)
print(myset3)

{8, 6, 7}

Симметрическая разность: метод symmetric_difference()

In [7]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset3 = myset1.symmetric_difference(myset2)
print(myset3)

{1, 2, 5, 6, 7, 8}

Для симметрической разности двух множеств можно также использовать оператор ^.

In [8]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset3 = myset1 ^ myset2
print(myset3)

{1, 2, 5, 6, 7, 8}

Обратите внимание: для операции симметрической разности порядок множеств не важен, на то она и симметрическая: myset1 ^ myset2 == myset2 ^ myset1.

Методы множеств, изменяющие текущие множества

Методы union(), intersection(), difference(), symmetric_difference() не изменяют исходные множества, а возвращают новые. Часто на практике нужно изменять исходные множества. Для таких целей используются парные методы update(), intersection_update(), difference_update(), symmetric_difference_update()

Метод update()

Метод update() изменяет исходное множество по объединению.

In [10]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset1.update(myset2)  # изменяем множество myset1
print(myset1)

{1, 2, 3, 4, 5, 6, 7, 8}

Аналогичный результат получается, если использовать оператор |=:

In [11]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset1 |= myset2
print(myset1)

{1, 2, 3, 4, 5, 6, 7, 8}

Метод intersection_update()

Метод intersection_update() изменяет исходное множество по пересечению.

In [12]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset1.intersection_update(myset2)  # изменяем множество myset1
print(myset1)

{3, 4}

Аналогичный результат получается, если использовать оператор &=:

In [13]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset1 &= myset2
print(myset1)

{3, 4}

Метод difference_update()

Метод difference_update() изменяет исходное множество по разности.

In [14]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset1.difference_update(myset2)  # изменяем множество myset1
print(myset1)

{1, 2, 5}

Аналогичный результат получается, если использовать оператор -=:

In [15]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset1 -= myset2
print(myset1)

{1, 2, 5}

Метод symmetric_difference_update()

Метод symmetric_difference_update() изменяет исходное множество по симметрической разности.

In [16]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset1.symmetric_difference_update(myset2)  # изменяем множество myset1
print(myset1)

{1, 2, 5, 6, 7, 8}

Аналогичный результат получается, если использовать оператор ^=:

In [17]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset1 ^= myset2
print(myset1)

{1, 2, 5, 6, 7, 8}

Примечания

Примечание 1. Все основные операции над множествами выполняются двумя способами: при помощи метода или соответствующего ему оператора. Различие заключается в том, что метод может принимать в качестве аргумента не только множество (тип данных set), но и любой итерируемый объект (список, строку, кортеж..).

In [18]:
mylist = [2021, 2020, 2019, 2018, 2017, 2016]
mytuple = (2021, 2020, 2016)
mystr = 'abcd'

myset = {2009, 2010, 2016}

print(myset.union(mystr))                      # объединяем со строкой
print(myset.intersection(mylist))              # пересекаем со списком
print(myset.difference(mytuple))               # находим разность с кортежем

{2016, 'd', 'a', 'c', 2009, 2010, 'b'}
{2016}
{2009, 2010}

In [19]:
mylist = [2021, 2020, 2019, 2018, 2017, 2016]
mytuple = (2021, 2020, 2016)
mystr = 'abcd'

myset = {2009, 2010, 2016}

print(myset | mystr)
print(myset & mylist)
print(myset - mytuple)

TypeError: unsupported operand type(s) for |: 'set' and 'str'

Примечание 2. Некоторые методы (union(), intersection(), difference()) и операторы (|, &, -, ^) позволяют совершать операции над несколькими множествами сразу.

In [20]:
myset1 = {1, 2, 3, 4, 5, 6}
myset2 = {2, 3, 4, 5}
myset3 = {5, 6, 7, 8}

union1 = myset1.union(myset2, myset3)
union2 = myset1 | myset2 | myset3

difference1 = myset1.difference(myset2, myset3)
difference2 = myset1 - myset2 - myset3           # порядок выполнения слева-направо

print(union1 == union2)
print(difference1 == difference2)

True
True

Примечание 3. Оператор ^ симметрической разности позволяет использовать несколько множеств, а метод symmetric_difference() – нет.

In [21]:
myset1 = {1, 2, 3, 4, 5, 6}
myset2 = {2, 3, 4, 7}
myset3 = {6, 20, 30}

symdifference = myset1 ^ myset2 ^ myset3  # порядок выполнения слева-направо

print(symdifference)

{1, 5, 7, 20, 30}

In [22]:
myset1 = {1, 2, 3, 4, 5, 6}
myset2 = {2, 3, 4, 7}
myset3 = {6, 20, 30}

symdifference = myset1.symmetric_difference(myset2, myset3)

print(symdifference)

TypeError: set.symmetric_difference() takes exactly one argument (2 given)

Примечание 4. Таблица соответствия методов и операторов над множествами.

A | B
A.union(B)
Возвращает множество, являющееся объединением множеств A и B
A |= B
A.update(B)
Добавляет в множество A все элементы из множества B
A & B
A.intersection(B)
Возвращает множество, являющееся пересечением множеств A и B
A &= B
A.intersection_update(B)
Оставляет в множестве A только те элементы, которые есть в множестве B
A - B
A.difference(B)
Возвращает разность множеств A и B
A -= B
A.difference_update(B)
Удаляет из множества A все элементы, входящие в B
A ^ B
A.symmetric_difference(B)
Возвращает симметрическую разность множеств A и B
A ^= B
A.symmetric_difference_update(B)
Записывает в A симметрическую разность множеств A и B

Примечание 5. Приоритет операторов в порядке убывания (верхние операторы имеют более высокий приоритет, чем нижние) имеет вид:

Оператор	Описание
-	разность
&	пересечение
^	симметрическая разность
|	объединение

In [25]:
set1 = {'a', 'b', 'c', 'd', 'h'}
set2 = {'b', 'd', 'f', 'h'}

set3 = set1 - set2
print(set3)
set3 = set3 & set1
print(set3)
set3 = set1 - set2 & set1
print(set3)

{'a', 'c'}
{'a', 'c'}
{'a', 'c'}

На вход программе подаются две строки текста, содержащие числа. Напишите программу, которая определяет количество чисел, которые есть как в первой строке, так и во второй.

Формат входных данных
На вход программе подаются две строки текста, содержащие числа, отделенные символом пробела.

Формат выходных данных
Программа должна вывести количество чисел, содержащихся одновременно как в первой строке, так и во второй.

In [ ]:
s1, s2 = set(input().split()), set(input().split())
print(len(s1.intersection(s2)))

На вход программе подаются две строки текста, содержащие числа. Напишите программу, которая выводит все числа в порядке возрастания, которые есть как в первой строке, так и во второй.

Формат входных данных
На вход программе подаются две строки текста, содержащие числа, отделенные символом пробела.

Формат выходных данных
Программа должна вывести на одной строке через пробел числа, встречающиеся в обеих строках.

In [ ]:
s1, s2 = set(input().split()), set(input().split())
s1 = {int(i) for i in s1}
s2 = {int(i) for i in s2}
print(*sorted(s1.intersection(s2)))

На вход программе подаются две строки текста, содержащие числа. Напишите программу, которая выводит все числа в порядке возрастания, которые есть в первой строке, но отсутствуют во второй.

Формат входных данных
На вход программе подаются две строки текста, содержащие числа, отделенные символом пробела.

Формат выходных данных
Программа должна вывести множество чисел, встречающихся только в первой строке.

In [ ]:
s1, s2 = set(input().split()), set(input().split())

s1.difference_update(s2)
s1 = {int(i) for i in s1}
print(*sorted(s1))

На вход программе подается натуральное число n, а затем n различных натуральных чисел, каждое на отдельной строке. Напишите программу, которая выводит все общие цифры в порядке возрастания у всех введенных чисел.

Формат входных данных
На вход программе подаются натуральное число n≥1, а затем n различных натуральных чисел, каждое на отдельной строке.

Формат выходных данных
Программа должна вывести цифры в соответствии с условием задачи. Если общих цифр нет, то ничего выводить не нужно.

In [ ]:
l = [set(input()) for _ in range(int(input()))]
# print(l)

s = l[0]
# print(s)

for i in l[1::]:
    s.intersection_update(i)
    
s = {int(i) for i in s}
    
print(*sorted(s))

In [ ]:
n = int(input())
numbers = [input() for _ in range(n)]

num_set = set(numbers[0]).intersection(*numbers)
print(*sorted(num_set))